@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.navbar {
  width: 100%;
  height: 95px;
  background-color: #fff;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 216px 1fr;
      grid-template-columns: 216px 1fr;
      grid-template-areas: 'nav-left nav-right';
  width: 1080px;
  color: #00355A;
  margin: 0 auto;
}

.nav-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav-left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.nav-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav-right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.nav-right .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.nav-right .nav-list .search-icon {
  height: 87px;
  width: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-right .nav-list .search-icon img {
  width: 18px;
  height: 18px;
}

.nav-right .nav-list .nav-item {
  margin-left: 25px;
  cursor: pointer;
  -webkit-transition: 1.5s all ease;
  transition: 1.5s all ease;
  -webkit-text-decoration-color: #00355A;
          text-decoration-color: #00355A;
}

.nav-right .nav-list .nav-item input {
  background-color: #ffe600;
  border-radius: 10px;
  border: none;
  padding: 4px;
  outline: none;
}

.nav-right .nav-list .nav-item input::-webkit-input-placeholder {
  color: black;
}

.nav-right .nav-list .nav-item input:-ms-input-placeholder {
  color: black;
}

.nav-right .nav-list .nav-item input::-ms-input-placeholder {
  color: black;
}

.nav-right .nav-list .nav-item input::placeholder {
  color: black;
}

.nav-right .nav-list .nav-item:hover {
  -webkit-text-decoration: underline 5px;
          text-decoration: underline 5px;
  text-underline-offset: 30px;
  -webkit-text-decoration-color: #00355A;
          text-decoration-color: #00355A;
}

@media all and (max-width: 992px) {
  .nav-right .nav-list {
    display: none;
  }
}

.nav-right .nav-btn {
  display: none;
}

.nav-right .nav-btn button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav-right .nav-btn button img {
  width: 45px;
  height: 45px;
}

@media all and (max-width: 992px) {
  .nav-right .nav-btn {
    display: block;
  }
}

.navbar-mobile {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 53, 90, 0.863);
  top: 0;
  z-index: 3;
}

.navbar-mobile li {
  font-size: 32px;
  list-style: none;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 20px;
}

.navbar-mobile li:hover {
  -webkit-transition: .35s;
  transition: .35s;
  background-color: white;
  color: #00355A;
  font-family: sans-serif;
  font-weight: bold;
}

.navbar-mobile li input {
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #ffe600;
}

.navbar-mobile li input::-webkit-input-placeholder {
  color: black;
}

.navbar-mobile li input:-ms-input-placeholder {
  color: black;
}

.navbar-mobile li input::-ms-input-placeholder {
  color: black;
}

.navbar-mobile li input::placeholder {
  color: black;
}

.cancel-block {
  text-align: end;
  padding-top: 15px;
  color: #fff;
}

.cancel-block span {
  color: white !important;
  font-size: 42px;
  cursor: pointer;
}
/*# sourceMappingURL=Navbar.css.map */