@import '../../../variables/Variables.scss';
.navbar{
    width: 100%;
    height: 95px;
    background-color: $backgroundColor;
}
.nav{
    display: grid;
    grid-template-columns: 216px 1fr;
    grid-template-areas: 'nav-left nav-right';
   width: 1080px;
    color: #00355A;
    margin:0 auto;

}
.nav-left{
    grid-area:nav-left;
    display:grid;
    grid-template-columns:  1fr;
    align-items:center;
    cursor:pointer;
    

}
.nav-right{
    grid-area:nav-right;
    display:flex;
    justify-self: end;
    align-items:center;
    font-family: $latoFont;
    font-weight: 400;
    .nav-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        .search-icon{
            height: 87px;
            width: 78px;
            display: flex;
            justify-content: center;
            align-items:center;
            
             img{
                width: 18px;
            height: 18px;
            
            }

        }
        .nav-item{
            margin-left: 25px;
            cursor:pointer;
            transition: 1.5s all ease;
            input{
                background-color:$yellowColor;
                border-radius: 10px;
                border:none;
                padding: 4px;
                outline:none;
                &::placeholder{
                    color:black;
                }
            }
            text-decoration-color: #00355A;
            
            &:hover{
                
                text-decoration:underline 5px;
                text-underline-offset: 30px;
                text-decoration-color: #00355A;


            }
            

        }
        @media all and (max-width: 992px){
            display: none;

        }
    }
    .nav-btn{
        display: none;
        button{
            background:transparent;
            border: none;
            cursor: pointer;
            img{
                width: 45px;   
                height: 45px;
            }

        }
        @media all and (max-width: 992px){
            display: block;
        }
    }
}
.navbar-mobile{
    
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 53, 90, 0.863);
    top:0;
    z-index: 3;
    li{
        font-size: 32px;
        list-style: none;
        text-align: center;
        color: white;
        font-family: $montserratFont;
        font-weight: 300;
        padding:20px;
        &:hover{
            transition: .35s;
            background-color:white;
            color:#00355A;
            font-family: sans-serif;
            font-weight: bold;
           
        }
        
        input{
            padding: 15px;
            border-radius: 10px;
            border:none;
            outline:none;
            background: $yellowColor;
            
            &::placeholder{
                color:black;
            }
        }

    }
    

}
.cancel-block{
    text-align:end;
    padding-top: 15px;
    color:#fff;
    span{
        color:white !important;
        font-size: 42px;
        cursor:pointer;
    }
}